.contact {
    background-color: #F1F1F1;
    border-spacing: 20px;
}

.filler {
    width: 100%;
}

.all-contacts {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-weight: 100;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
}

@media (max-width: 430px) {
    .all-contacts {
        margin-left: 5%;
    }
}