<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    {% for i in firstnames %}
    <div>
        <button id="{{ i }}_signup_btn" type=button>{{ i }}</button>
    </div>

    <script>
        $(document).ready(function() {
            $("#{{ i }}_signup_btn").on('click', function() {
                console.log("button press registered");
                
                $(this).prop('disabled', true);
            });
        });
    </script>
    {% endfor %}
</body>
</html>