footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    line-height: 50px;
    background-color: #F2F2F2;
    margin-top: 100px;
    margin-bottom: 0;
}