<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython.js" integrity="sha256-rA89wPrTJJQFWJaZveKW8jpdmC3t5F9rRkPyBjz8G04=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython_stdlib.js" integrity="sha256-Gnrw9tIjrsXcZSCh/wos5Jrpn0bNVNFJuNJI9d71TDs=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>Del Norte Clubs</title>
</head>
<body>
    <!-- <button type="button" id="testing-ajax">Test Ajax!</button>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="../static/js/main.js" id="testing-ajax-script"></script> -->
    
    <script src="../static/js/post_user_info.js" id="testing-registration"></script>

    <form>
        <label for="firstname">First Name:</label><br>
        <input type="text" id="firstname" name="firstname"><br>
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email">
        <input type="submit" value="Save!">
    </form>

</body>
</html>