html {
  scroll-behavior: smooth;
}
* {
    margin-top: 0;
}
.title {
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    padding-top: 110px;
    font-weight: 700;
    font-size: 30px;
}
.getstarted-button {
  background-color: white;
  border: none;
  color: #6978ff;
  padding: 15px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 800;
  transition-duration: 0.5s;
}

.getstarted-button:hover {
  color: white;
    background-color: #6978ff;
      text-decoration: none;
}
.sub {
    font-weight: 100;
    font-size: 20px;
    padding-top: 10px;
}

.bg-image {
    background-image: url('../static/media/Final_BG_Web Viewer-05.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-bottom: 500px;
    display: block;
}
.card-title-text {
    text-align: left; 
    color:#6978ff; 
    position: relative; 
    margin-left: 20px; 
    margin-top: 120px; 
    font-weight:800;
    font-size:70px;
}
.card-info-text{
    text-align: left; 
    color:#bababa; 
    position: relative; 
    margin-left: 20px; 
    margin-top: 120px; 
    font-weight:400;
    font-size:23px;
    margin-right: 60px;
}
.card-button-mine {
  background-color: #6978ff;
  border: none;
  color: white;
  padding: 15px 65px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 28px;
  font-weight: 800;
  transition-duration: 0.5s;
  position: relative;
}

.card-button-mine:hover {
  color: white;
    background-color: #5163af;
      text-decoration: none;
}

.home-title {
  font-weight: 800;
  font-size: 100px;
  color: white;
  text-align: left;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 30%;
}

.home-sub {
  font-weight: 500;
  font-size: 70px;
  margin-top: 10px;
}

.img-fluid {
  width: 500px;
  border-radius: 50px;
  position: relative;
  margin-top: 40px;
  margin-left: 10%;
  background-color: #fff;
}

.card-info-text {
  margin-top: 0px;
}

.card3 {
  margin-top: 688px;
}

@media (max-width: 767px) {
    /* .bg-image {
        background-image: url('');
        background-size: 767px 696px;
        padding-bottom: 240px;
    } */

}

@media (max-width: 380px) {
  .title {
    padding-top: 100px;
    margin: 3px;
}
.sub {
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.home-title {
  font-size: 60px;
}

.home-sub {
  font-size: 40px;
}

.img-fluid {
  width: 80%;
  float: center;
  margin: none;
}

.card-title-text {
  font-size: 40px;
  margin-top: 23%;
  margin-left: 0;
}

.card-info-text {
  margin-top: 2%;
  margin-left: 0;
  font-size: 15px;
}

.card-button-mine {
  margin-top: 0px;
  padding: 7px 65px;
  font-size: 20px;
}

.card3 {
  margin-top: 456px;
}
}