div.sign button::before {
    content: '\f00d';
}

.no-club {
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 230px;
}