<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="#" method="POST">
			Science<input type="checkbox" name="myCheckbox" value="Science">
			Computer Science<input type="checkbox" name="myCheckbox" value="Computer Science">
			Art<input type="checkbox" name="myCheckbox" value="Art">
			History<input type="checkbox" name="myCheckbox" value="History">
			Volunteering<input type="checkbox" name="myCheckbox" value="Volunteering">
			Academics<input type="checkbox" name="myCheckbox" value="Academics">
			<input type="submit" value="submit!">
		</form>
	</body>
</html>
