<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Compass</title>
    <link rel="stylesheet" href="../static/navbar-styles.css">
    <link rel="stylesheet" href="../static/loading-styles.css">
    <link rel="stylesheet" href="../static/home-styles.css">
    <link rel="stylesheet" href="../static/cards-styles.css">
    <link rel="stylesheet" href="../static/myclubs-styles.css">
    <link rel="stylesheet" href="../static/footer-styles.css">
    <link rel="stylesheet" href="../static/fontcss/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/fav-logo34-white.ico">
</head>
<body>

    <!-------------------- NAV BAR -------------------->
    <header class="header">
        <a href="/delnorte"><img src="../static/logo34-white.png" class="logo" alt="Club Compass"></a>
        <input class="menu-button" type="checkbox" id="menu-button"/>
        <a href="/delnorte/contact"><label class="contacts">Contact</label></a>
        <label class="menu-icon" for="menu-button"><span class="nav-icon"></span></label>
            <ul class="menu">
                <li><a href="/delnorte">Home</a></li>
                <li><a href="/delnorte/find_clubs">Find Clubs</a></li>
                <li class="on"><a href="/delnorte/my_clubs">My Profile</a></li>
                <li class="mobile-contacts"><a href="/delnorte/contact">Contact</a></li>
            </ul>
    </header>

    <!-------------------- Title -------------------->
    <div class="title">
        <h1>
            {{ firstname }}'s Clubs
        </h1>
        <p class="sub">
            Name: {{firstname}} {{lastname}}
            <br>
            Email: {{email}}
        </p>
    </div>

    <!-------------------- LOGOUT -------------------->

    <div class="logout">
        <button class="logout-button" onclick="window.location.href = '/delnorte/logout';">Logout</button>
    </div> 

    <!-------------------- NO CLUBS -------------------->
    {% if clubs == [] %}
    <div class="no-club">
        <p>
            Looks like you haven't signed up for any clubs yet! Come back to this page to view your signups! 
            <br> 
            If you aren't seeing your clubs, refresh after a few seconds.
        </p>
    </div>
    {% endif %}
    <!-------------------- CLUB CARDS -------------------->
    <main>
        <section class="cards">
            {% for i in clubs %}
            <div class="card">
                <div class="card__title">
                    <h1> {{ i.get("name") }} </h1> 
                </div>
                <div class="card__content">
                    <p class="card__section text--bold">
                        President:
                    </p>
                    <p class="text--reg">
                        {{ i.get("president") }}
                    </p>
                    <br>
                    <p class="card__section text--bold">
                        Meeting Times:
                    </p>
                    <p class="text--reg">
                        {{ i.get("meeting_times") }}
                    </p>
                    <br>
                    <p class="card__section text--bold">
                        Email:
                    </p>
                    <p class="text--email">
                        {{ i.get("email") }}
                    </p>
                    <br>
                    <br>
                        <p class="card__desc">
                            Description:
                        </p>
                        <p class="text--light">
                            {{ i.get("description") }}
                        </p>
                    </div>
                    <div class="remove">
                        <button id="{{ i.get('_id') }}_remove_btn" type="button"></button>
                    </div> 
                </div>
                
            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#{{ i.get('_id') }}_remove_btn").on('click', function() {
                        console.log("button press registered");
                        
                        var info = {
                            firstname: "{{ firstname }}",
                            lastname: "{{ lastname }}",
                            email: "{{ email }}",
                            club: "{{ i.get('name') }}"
                        }

                        $.ajax({
                            type: "POST",
                            url: "/delnorte/remove_user",
                            data: info
                        });

                        document.getElementById("{{ i.get('_id') }}_remove_btn").disabled = true;
                    });
                });

            </script>
            {% endfor %}

        </section>
    </main>

    <!-------------------- FOOTER -------------------->
    <footer>
        <p>Made with  <i class="fas fa-heart" style="color: #FF3D3D"></i> by: Andrew Hale, Abhinav Palacharla, Andrew de la Pena, and Ashika Palacharla</p>
    </footer>
</body>
</html>