<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython.js" integrity="sha256-rA89wPrTJJQFWJaZveKW8jpdmC3t5F9rRkPyBjz8G04=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython_stdlib.js" integrity="sha256-Gnrw9tIjrsXcZSCh/wos5Jrpn0bNVNFJuNJI9d71TDs=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>Del Norte Clubs</title>
</head>
<body>
    <button type="button" id="testing-ajax">Test Ajax!</button>
    <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
    <script src="../static/js/main.js" id="testing-ajax-script"></script>
    <!-- <script type="text/python" id="test-script">
        from browser import document, ajax, console

        def test_ajax(e):
            console.log("in function")
            req = ajax.ajax()
            req.open("POST", /add_to_interest?firstname=%s&lastname=%s&email=%s&sheet=%s %("Abhinav", "Palacharla", "abhinav.palacharla@gmail.com", "rocketry"), True)
            req.set_header('content-type','application/x-www-form-urlencoded')
            req.send()
            

        document['testing-ajax'].bind('click', test-ajax)
    </script> -->
</body>
</html>