<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club Compass</title>
    <!--
    <link rel="stylesheet" href="nav-styles.css">
    -->
    <link rel="stylesheet" href="../static/navbar-styles.css" />
    <link rel="stylesheet" href="../static/loading-styles.css" />
    <link rel="stylesheet" href="../static/home-styles.css" />
    <link rel="stylesheet" href="../static/footer-styles.css" />
    <link rel="stylesheet" href="../static/contacts-styles.css" />
    <link rel="stylesheet" href="../static/fontcss/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="../static/fav-logo3.4-white.ico" />
  </head>
  <body>
    <!-------------------- NAV BAR -------------------->
    <!--
    <div class="navbar">
        <header>
            <a href="home.html"><img class="logo" src="Logo.png" alt="logo"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="cards.html">All Clubs</a></li>
                    <li><a href="myclubs.html">My Clubs</a></li>
                </ul>
            </nav>
            <a class="cta" href="contact.html"><button class="nav-button">Contacts</button></a>
        </header>
    </div>
    -->

    <!-------------------- NEW NAV BAR -------------------->
    <header class="header">
      <a href="/delnorte"
        ><img src="../static/logo34-white.png" class="logo" alt="Club Compass"
      /></a>
      <input class="menu-button" type="checkbox" id="menu-button" />
      <a href="/delnorte/contact"><label class="contacts">Contacts</label></a>
      <label class="menu-icon" for="menu-button"
        ><span class="nav-icon"></span
      ></label>
      <ul class="menu">
        <li><a href="/delnorte">Home</a></li>
        <li><a href="/delnorte/find_clubs">Find Clubs</a></li>
        <li><a href="/delnorte/my_clubs">My Profile</a></li>
        <li class="mobile-contacts">
          <a href="/delnorte/contact">Contacts</a>
        </li>
      </ul>
    </header>

    <!-------------------- CONTACTS -------------------->
    <div class="title">
      <h1>Contacts</h1>
      <p class="sub">Reach out to us!</p>
    </div>
    <div class="all-contacts">
      <table class="contact">
        <tr>
          <td colspan="2"><h2>The Club Compass Team:</h2></td>
        </tr>
        <tr>
          <td>
            <a href="mailto: clubcompassofficial@gmail.com"
              ><p>clubcompassofficial@gmail.com</p></a
            >
          </td>
          <td class="filler"></td>
        </tr>
      </table>
      <br />
      <table class="contact">
        <tr>
          <td colspan="2"><h2>Del Norte High School:</h2></td>
        </tr>
        <tr>
          <td>
            <a
              href="https://www.powayusd.com/Schools/HS/DNHS/home"
              target="_blank"
              ><p>Del Norte High School</p></a
            >
          </td>
          <td class="filler"></td>
        </tr>

        <tr>
          <td colspan="2"><h3>ASB:</h3></td>
        </tr>
        <tr>
          <td>
            <a href="mailto: dnnighthawks.asb@gmail.com"
              ><p>dnnighthawks.asb@gmail.com</p></a
            >
          </td>
          <td class="filler"></td>
        </tr>

        <tr>
          <td colspan="2"><h3>ASB Club Commissioners:</h3></td>
        </tr>
        <tr>
          <td>
            <a href="mailto: delnorteasbclubcommissioners@gmail.com"
              ><p>delnorteasbclubcommissioners@gmail.com</p></a
            >
          </td>
          <td class="filler"></td>
        </tr>

        <tr>
          <td colspan="2"><h3>DNHS Club Remind:</h3></td>
        </tr>
        <tr>
          <td>
            <p>DNHS Club Remind by texting <u>@4hec947</u> to <u>81010</u></p>
          </td>
          <td class="filler"></td>
        </tr>
      </table>
    </div>

    <!-------------------- FOOTER -------------------->
    <footer>
      <p>
        Made with <i class="fas fa-heart" style="color: #ff3d3d"></i> by: Andrew
        Hale, Abhinav Palacharla, and Andrew de la Pena, and Ashika Palacharla
      </p>
    </footer>
  </body>
</html>
