<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Compass</title>
    <!--
    <link rel="stylesheet" href="nav-styles.css">
    -->
    <link rel="stylesheet" href="../static/navbar-styles.css">
    <link rel="stylesheet" href="../static/loading-styles.css">
    <link rel="stylesheet" href="../static/home-styles.css">
    <link rel="stylesheet" href="../static/footer-styles.css">
    <link rel="stylesheet" href="../static/fontcss/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/fav-logo34-white.ico">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-------------------- NAV BAR -------------------->
    <!-- <div class="navbar">
        <header>
            <a href="home.html"><img class="logo" src="" alt="logo"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="/delnorte">Home</a></li>
                    <li><a href="/delnorte/find_clubs">Find Clubs</a></li>
                    <li><a href="/delnorte/my_clubs">My Clubs</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button class="nav-button">Contacts</button></a>
        </header>
    </div> -->

    <!-------------------- NEW NAV BAR -------------------->
    <header class="header home-nav">
        <a href="/delnorte" class="logo-name"><img src="../static/logo34-white.png" class="logo" alt="Club Compass"></a>
        <input class="menu-button" type="checkbox" id="menu-button"/>
        <a href="/delnorte/contact"><label class="contacts home-contacts">Contacts</label></a>
        <label class="menu-icon" for="menu-button"><span class="nav-icon"></span></label>
            <ul class="menu home-menu">
                <li class="on home-hover"><a href="/delnorte">Home</a></li>
                <li class="home-hover"><a href="/delnorte/find_clubs">Find Clubs</a></li>
                <li class="home-hover"><a href="/delnorte/my_clubs">My Clubs</a></li>
                <li class="mobile-contacts"><a href="/delnorte/contact">Contacts</a></li>
            </ul>
    </header>

    <!-------------------- LANDING TEXT & BUTTON -------------------->
    <div class="bg-image">
        <div class="title">
          <h1 class="home-title">Club Compass</h1>
            <!-- <h1 style="text-align: left; color:white; position: relative; left: 50px; top: 300px; font-weight: 800; font-size: 100px;">The easiest way to <br> find and join clubs <br> for your school.</h1> -->
            <h3 class="home-title home-sub">Redefining club discovery</h1>
            <!-- <a href="#card1" style="position: relative; margin-left: -43%; margin-top: 100px;" class="getstarted-button">Get Started</a> -->
            <a href="#card1" class="getstarted-button">Get Started</a>
        </div>
    <!-------------------- Start Card1 -------------------->
  <!-- <div id="card1" class="container"> -->
    <!-- <div class="card img-fluid" style="width:500px; border-radius:50px; position: relative; top:1200px; left:-110px;"> -->
    <div id="card1" class="img-fluid" style="margin-top: 1000px">
      <img class="card-img-top" src="../static/media/Assets_First_Icon_and_Number.png" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <b><h1 class="card-title-text">REGISTER</h1></b>
        <p class="card-info-text card1-info-text">The first step in the process is to make your Club Compass account. To do this press on the button below to register your account. If you already have an account you can just sign in.</p>
        <!-- <a href="#" class="card-button-mine">Sign Up</a> -->
        <a  href="/delnorte/register" class="card-button-mine card1-button-mine">Sign Up</a>
      </div>
    </div>
    <!-------------------- End Card1 -------------------->

    <!-------------------- Start Card2 -------------------->
  <!-- <div class="container">
    <div class="card img-fluid" style="width:500px; border-radius:50px; position: relative; top:1200px; left:65%;"> -->
    <div class="img-fluid" style="float: right; margin-left: 0px; margin-right: 10%;">
      <img class="card-img-top" src="../static/media/Assets_Second_Icon_and_Number.png" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <b><h1 class="card-title-text card2-title-text">FIND CLUBS</h1></b>
        <p class="card-info-text card2-info-text">The second step is to find the perfects club(s) for you. From the navigation bar or the button below you can surf through many clubs offered by your school. Once found add desired club to “My Clubs”.</p>
        <!-- <a href="#" style="position: relative; top:185px;" class="card-button-mine">Find Clubs</a> -->
        <a href="/delnorte/find_clubs" class="card-button-mine">Find Clubs</a>
      </div>
    </div>
    <!-------------------- End Card2 -------------------->

    <!-------------------- Start Card3 -------------------->
  <!-- <div class="container">
    <div class="card img-fluid" style="width:500px; border-radius:50px; position: relative; top:1200px; left:-110px;"> -->
    <div class="img-fluid card3">
      <img class="card-img-top" src="../static/media/Assets_Third_Icon_and_Number.png" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <b><h1 class="card-title-text">ALL DONE</h1></b>
        <p class="card-info-text card3-info-text">Its as easy as that! With our 1 click signup thats all you need in order to be signed up! In order to check the club you have added go to the “My Clubs” page, from there you can also remove clubs.<p>
        <!-- <a href="#" style="position: relative; top:180px;" class="card-button-mine">My Clubs</a> -->
        <a href="/delnorte/my_clubs" class="card-button-mine">My Clubs</a>
      </div>
    </div>
    <!-------------------- End Card3 -------------------->

</div>

    <!-------------------- FOOTER -------------------->
    <footer class="home-footer" style="opacity: 1">
        <p>Made with  <i class="fas fa-heart" style="color: #FF3D3D;"></i> by: Andrew Hale, Abhinav Palacharla, Andrew de la Pena, and Ashika Palacharla</p>
    </footer>
</body>
</html>