<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Compass</title>
    <!--
    <link rel="stylesheet" href="nav-styles.css">
    -->
    <link rel="stylesheet" href="../static/navbar-styles.css">
    <link rel="stylesheet" href="../static/loading-styles.css">
    <link rel="stylesheet" href="../static/home-styles.css">
    <link rel="stylesheet" href="../static/footer-styles.css">
    <link rel="stylesheet" href="../static/fontcss/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/fav-logo34-white.ico">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-------------------- NAV BAR -------------------->
    <!-- <div class="navbar">
        <header>
            <a href="home.html"><img class="logo" src="" alt="logo"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="/delnorte">Home</a></li>
                    <li><a href="/delnorte/find_clubs">Find Clubs</a></li>
                    <li><a href="/delnorte/my_clubs">My Clubs</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button class="nav-button">Contacts</button></a>
        </header>
    </div> -->

    <!-------------------- NEW NAV BAR -------------------->
    <header class="header">
        <a href="/delnorte"><img src="../static/logo34-white.png" class="logo" alt="Club Compass"></a>
        <input class="menu-button" type="checkbox" id="menu-button"/>
        <a href="/delnorte/contact"><label class="contacts">Contacts</label></a>
        <label class="menu-icon" for="menu-button"><span class="nav-icon"></span></label>
            <ul class="menu">
                <li class="on"><a href="/delnorte">Home</a></li>
                <li><a href="/delnorte/find_clubs">Find Clubs</a></li>
                <li><a href="/delnorte/my_clubs">My Clubs</a></li>
                <li class="mobile-contacts"><a href="/delnorte/contact">Contacts</a></li>
            </ul>
    </header>

    <!-------------------- LANDING TEXT & BUTTON -------------------->
    <div class="bg-image">
        <div class="title">
            <h1 style="text-align: left; color:white; position: relative; left: 100px; top: 150px; font-weight: 800; font-size: 100px;">The easiest way to <br> find and join clubs <br> for your school.</h1>
            <a href="#card1" style="position: relative; left: -705px; top: 200px;" class="getstarted-button">Get Started</a>
        </div>
    <!-------------------- Start Card1 -------------------->
<div class="container">
  <div class="card img-fluid" style="width:500px; border-radius:50px; position: relative; top:900px; left:-110px;">
    <img class="card-img-top" src="../static/media/assets_First Icon & Number.png" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <b><h1 class="card-title-text">REGISTER</h1></b>
      <p class="card-info-text">The first step in the process is to make your Club Compass account. To do this press on the button below to register your account. If you already have an account you can just sign in.</p>
      <a href="#" class="card-button-mine">Sign Up</a>
    </div>
  </div>
</div>
    <!-------------------- End Card1 -------------------->

    <!-------------------- Start Card2 -------------------->
<div class="container">
  <div class="card img-fluid" style="width:500px; border-radius:50px; position: relative; top:880px; left:770px;">
    <img class="card-img-top" src="../static/media/assets_Second Icon & Number.png" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <b><h1 class="card-title-text">FIND CLUBS</h1></b>
      <p class="card-info-text">The second step is to find the perfects club(s) for you. From the navigation bar or the button below you can surf through many clubs offered by your school. Once found add desired club to “My Clubs”.</p>
      <a href="#" style="position: relative; top:185px;" class="card-button-mine">Find Clubs</a>
    </div>
  </div>
</div>
    <!-------------------- End Card2 -------------------->

    <!-------------------- Start Card3 -------------------->
<div class="container">
  <div class="card img-fluid" style="width:500px; border-radius:50px; position: relative; top:880px; left:-110px;">
    <img class="card-img-top" src="../static/media/assets_Third Icon & Number.png" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <b><h1 class="card-title-text">ALL DONE</h1></b>
      <p class="card-info-text">Its as easy as that! With our 1 click signup thats all you need in order to be signed up! In order to check the club you have added go to the “My Clubs” page, from there you can also remove clubs.<p>
      <a href="#" style="position: relative; top:180px;" class="card-button-mine">My Clubs</a>
    </div>
  </div>
</div>
    <!-------------------- End Card3 -------------------->
</div>


    <!-------------------- FOOTER -------------------->
    <footer style="opacity: 1">
        <p>Copyright © ClubCompass 2020 | Made with  <i class="fas fa-heart" style="color: #FF3D3D;"></i> by: Andrew Hale, Abhinav Palacharla, Andrew de la Pena, and Ashika Palacharla</p>
    </footer>
</body>
</html>